Workflows/analyze_stock.json
{
  "name": "analyze_stock",
  "nodes": [
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        464,
        128
      ],
      "id": "98ec81ba-fabd-4fab-8c61-8a0fa844b7e5",
      "name": "Merge Candle Data"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        672,
        128
      ],
      "id": "139b3edd-9329-48e5-ac5e-2847fc6eafa5",
      "name": "Aggregate Candle Data"
    },
    {
      "parameters": {
        "jsCode": "const root = items[0].json;\nconst datasets = root.data || [];\n\nconst data1h = datasets[0] || {};\nconst data2h = datasets[1] || {};\nconst data8h = datasets[2] || {};\n\nfunction normalize(values = []) {\n  return values\n    .map(v => ({\n      time: new Date(v.datetime),\n      open: parseFloat(v.open),\n      high: parseFloat(v.high),\n      low: parseFloat(v.low),\n      close: parseFloat(v.close),\n      volume: parseFloat(v.volume),\n    }))\n    .filter(v => !Number.isNaN(v.close))\n    .sort((a, b) => a.time - b.time);\n}\n\nreturn [\n  {\n    json: {\n      ticker: data1h.meta?.symbol || data2h.meta?.symbol || data8h.meta?.symbol || null,\n      candles1h: normalize(data1h.values),\n      candles2h: normalize(data2h.values),\n      candles8h: normalize(data8h.values)\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        128
      ],
      "id": "9966556e-e37a-4b58-9d9b-8b3be5b2ea59",
      "name": "Clean Candle Data"
    },
    {
      "parameters": {
        "url": "https://newsapi.org/v2/everything",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "apiKey",
              "value": "={{ $env.NEWSAPI_KEY }}"
            },
            {
              "name": "q",
              "value": "={{ $json.name || $json.symbol }}"
            },
            {
              "name": "from",
              "value": "={{ $today.minus({ days: 1 }).toFormat('yyyy-MM-dd') }}"
            },
            {
              "name": "sortBy",
              "value": "publishedAt"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        624
      ],
      "id": "7d796f94-8b95-4511-821c-c318fc55899b",
      "name": "Search News by Company Name"
    },
    {
      "parameters": {
        "url": "https://api.twelvedata.com/quote",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "symbol",
              "value": "={{ $json.symbol }}"
            },
            {
              "name": "interval",
              "value": "1day"
            },
            {
              "name": "apikey",
              "value": "={{ $env.TWELVEDATA_API_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        48,
        624
      ],
      "id": "ba7bbc47-cb8b-4537-be02-3afa7f5af951",
      "name": "Fetch Quote"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.twelvedata.com/time_series",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "symbol",
              "value": "={{ $json.symbol }}"
            },
            {
              "name": "interval",
              "value": "1h"
            },
            {
              "name": "outputsize",
              "value": "10"
            },
            {
              "name": "apikey",
              "value": "={{ $env.TWELVEDATA_API_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "003a9b55-3330-4eb0-b9a6-70900efe0a77",
      "name": "Candles 1h"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.twelvedata.com/time_series",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "symbol",
              "value": "={{ $json.symbol }}"
            },
            {
              "name": "interval",
              "value": "2h"
            },
            {
              "name": "outputsize",
              "value": "10"
            },
            {
              "name": "apikey",
              "value": "={{ $env.TWELVEDATA_API_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        144
      ],
      "id": "95600a9d-139d-46ac-97fb-4957a5ba3e8a",
      "name": "Candles 2h"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1152,
        304
      ],
      "id": "3d19701a-b329-4acb-9b6f-6f8473744c6b",
      "name": "Merge Final Outputs"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1360,
        304
      ],
      "id": "9e1d0c88-eef9-4d41-a451-25ea77c3a5bb",
      "name": "Aggregate Final Output"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        560,
        640
      ],
      "id": "0f05c024-400c-45ac-8718-9a2c165a93f1",
      "name": "Merge News and Quote Data"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        704,
        640
      ],
      "id": "1244325d-ec1c-40c3-b1aa-af29cb0bcf87",
      "name": "Aggregate News and Quote Data"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst articles = Array.isArray(data.articles) ? data.articles : [];\n\nconst cleanedArticles = articles.slice(0, 10).map(article => ({\n  title: article.title || \"\",\n  source: article.source?.name || \"\",\n  description: article.description || \"\",\n  publishedAt: article.publishedAt || \"\",\n  url: article.url || \"\",\n  content: article.content || \"\"\n}));\n\nreturn [{\n  json: {\n    status: data.status || \"unknown\",\n    totalResults: data.totalResults || 0,\n    articles: cleanedArticles\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        624
      ],
      "id": "d0abbc62-8f95-4e61-a1bb-907071cbb746",
      "name": "Filter Company News"
    },
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{ \"symbol\": \"AAPL\" }"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -144,
        144
      ],
      "id": "7176ad33-cc69-4bdd-bdda-61e610ac3c2f",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "=You are a financial-market sentiment analyzer. Analyze the provided quote/news data for short-term sentiment.\n\nConsider:\n- Immediate market reaction\n- Recent news impact\n- Technical volatility where available\n- Whether the information is material, speculative, or stale\n\nReturn exactly one JSON object and no additional text. Use this exact structure:\n\n{\n  \"shortTermSentiment\": {\n    \"category\": \"Positive | Neutral | Negative\",\n    \"score\": 0.0,\n    \"rationale\": \"Concise explanation with the most relevant factors.\"\n  }\n}\n\nThe score must be between -1 and 1.\n\nData to analyze:\n{{ JSON.stringify({ quote: (($json.data || [])[1] || {}), companyNews: ((($json.data || [])[0] || {}).articles || []), tickerNews: ((($json.data || [])[2] || {}).articles || []) }) }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        848,
        640
      ],
      "id": "b16c4be0-5200-4626-9583-a65ce4348857",
      "name": "Generate News Sentiment"
    },
    {
      "parameters": {
        "url": "https://newsapi.org/v2/everything",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "apiKey",
              "value": "={{ $env.NEWSAPI_KEY }}"
            },
            {
              "name": "q",
              "value": "={{ $json.symbol }}"
            },
            {
              "name": "from",
              "value": "={{ $today.minus({ days: 1 }).toFormat('yyyy-MM-dd') }}"
            },
            {
              "name": "sortBy",
              "value": "publishedAt"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        832
      ],
      "id": "d129bcc6-b655-475f-9ced-f5aa05a8d1e9",
      "name": "Search News by Ticker"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst articles = Array.isArray(data.articles) ? data.articles : [];\n\nconst cleanedArticles = articles.slice(0, 10).map(article => ({\n  title: article.title || \"\",\n  source: article.source?.name || \"\",\n  description: article.description || \"\",\n  publishedAt: article.publishedAt || \"\",\n  url: article.url || \"\",\n  content: article.content || \"\"\n}));\n\nreturn [{\n  json: {\n    status: data.status || \"unknown\",\n    totalResults: data.totalResults || 0,\n    articles: cleanedArticles\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        832
      ],
      "id": "3e130d46-f2c6-44aa-90bd-2c9f2396ce53",
      "name": "Filter Ticker News"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.twelvedata.com/time_series",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "symbol",
              "value": "={{ $json.symbol }}"
            },
            {
              "name": "interval",
              "value": "8h"
            },
            {
              "name": "outputsize",
              "value": "10"
            },
            {
              "name": "apikey",
              "value": "={{ $env.TWELVEDATA_API_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        304
      ],
      "id": "46f059ab-b172-407e-b8e6-574a7f74b7e5",
      "name": "Candles 8h"
    }
  ],
  "pinData": {},
  "connections": {
    "Merge Candle Data": {
      "main": [
        [
          {
            "node": "Aggregate Candle Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Candle Data": {
      "main": [
        [
          {
            "node": "Clean Candle Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Candle Data": {
      "main": [
        [
          {
            "node": "Merge Final Outputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search News by Company Name": {
      "main": [
        [
          {
            "node": "Filter Company News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Quote": {
      "main": [
        [
          {
            "node": "Search News by Company Name",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge News and Quote Data",
            "type": "main",
            "index": 1
          },
          {
            "node": "Search News by Ticker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Candles 1h": {
      "main": [
        [
          {
            "node": "Merge Candle Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Candles 2h": {
      "main": [
        [
          {
            "node": "Merge Candle Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Final Outputs": {
      "main": [
        [
          {
            "node": "Aggregate Final Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Final Output": {
      "main": [
        []
      ]
    },
    "Merge News and Quote Data": {
      "main": [
        [
          {
            "node": "Aggregate News and Quote Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate News and Quote Data": {
      "main": [
        [
          {
            "node": "Generate News Sentiment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Company News": {
      "main": [
        [
          {
            "node": "Merge News and Quote Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Candles 1h",
            "type": "main",
            "index": 0
          },
          {
            "node": "Candles 2h",
            "type": "main",
            "index": 0
          },
          {
            "node": "Candles 8h",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Quote",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate News Sentiment": {
      "main": [
        [
          {
            "node": "Merge Final Outputs",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Search News by Ticker": {
      "main": [
        [
          {
            "node": "Filter Ticker News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Ticker News": {
      "main": [
        [
          {
            "node": "Merge News and Quote Data",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Candles 8h": {
      "main": [
        [
          {
            "node": "Merge Candle Data",
            "type": "main",
            "index": 2
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": []
}
